#content {
  background: var(--White);
  text-align: left;
  padding: 1rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.precos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size:30px;
  color:var(--Very_dark_blue);
}

h2{
  letter-spacing: .4rem;
  font-size:14px;
  color:var(--Dark_grayish_blue);
}

#content p {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-size:14px;
  color:var(--Dark_grayish_blue);
}
.verde {
  color: var(--Dark_cyan);
  font-size: 2rem;
  margin-right: 1rem;
}

