 :root {
  --Dark_cyan:hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
 }

body {
  width: 100%;
  height: 100%;
  overflow: overlay;
  background-color: var(--Cream);
}

*, body,h1,h2,h3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  font-family: inherit;
}